AllowAllArgumentsOnNextLine: false
BreakBeforeBraces: Allman
ColumnLimit: 0
Cpp11BracedListStyle: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
LineEnding: LF
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpaceBeforeParens: Never
TabWidth: 4
UseTab: Never
ReflowComments: false