.DS_Store
*.dSYM
bin
*/bin
build
*.metallib
*.pdb
*.exe
*.ilk
*.vs
*.obj
*.lib
*.dll
*.sln
*.wasm
*.app
*.dylib
*.a
*.o
*.d
*.swp

src/ext/dawn

Debug/*

scripts/__pycache__

src/wasmbind/gles_api.json
src/bindgen_core_api.c
src/bindgen_gles_api.c
src/graphics/glsl_shaders.h
src/graphics/wgpu_renderer_shaders.h
src/io_stubs.c
src/orca_surface.c
src/graphics/orca_gl31.h
*bind_gen.c
*_stubs.c
src/ext/bytebox/zig-cache
src/ext/bytebox/zig-out

.vscode/launch.json
.vscode/settings.json

__pycache__
scripts/files

# explicitly abandon old ext dir
/ext
src/ext/angle

sketches/*/bin

.cache

tags

src/ext/curl/builds/
src/ext/curl/winbuild/*.inc
src/ext/curl/winbuild/*.idb
src/ext/zlib/build/

doc/mkdocs/docs/api
doc/mkdocs/mkdocs.yml
