.DS_Store
*.dSYM
bin/*
build
*.metallib
*.pdb
*.exe
*.ilk
*.vs
*.obj
*.lib
*.dll
*.sln
*.wasm
*.app
*.dylib

Debug/*

scripts/__pycache__
src/gles_api.json
src/bindgen_core_api.c
src/bindgen_gles_api.c
sdk/io_stubs.c
sdk/orca_surface.c
sdk/gl31.h
*bind_gen.c
gles_gen.log

.vscode/launch.json
.vscode/settings.json

__pycache__
scripts/files
