
	<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<plist version="1.0">
		<dict>
			<key>CFBundleName</key>
			<string>driver</string>
			<key>CFBundleDisplayName</key>
			<string>driver</string>
			<key>CFBundleIdentifier</key>
			<string>driver</string>
			<key>CFBundleVersion</key>
			<string>0.0.0</string>
			<key>CFBundlePackageType</key>
			<string>APPL</string>
			<key>CFBundleSignature</key>
			<string>????</string>
			<key>CFBundleExecutable</key>
			<string>driver</string>
			<key>CFBundleIconFile</key>
			<string>icon.icns</string>
			<key>NSHighResolutionCapable</key>
			<string>True</string>
			<key>MetalCaptureEnabled</key>
			<true/>

	</dict>
	</plist>
